@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

html {
    font-family: "Open Sans";
    font-size: 20px;
    color: var(--color-main);
}

:root {
    --color-negative: #E5446D;
    --color-positive: #70C1B3;
    --color-main: #001B2E;
    --color-accent: #247BA0;
    --color-lighter: rgba(255 255 255 / .1);
    --color-darker: rgba(0 0 0 / .1);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 38.4rem;
    margin: auto;
}

.info {
    background-color: var(--color-darker);
    color: var(--color-accent);
    padding: 1rem;
    line-height: 1.8;
    margin: 2rem 0;
}

.info h2 {
    font-size: 1rem;
}

.info p {
    font-size: .75rem;
}

.name-picker {
    height: 15rem;
}

.name-picker form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.app {
    display: flex;
    gap: 1rem;
}

.name-picker textarea {
    border: 2px solid var(--color-main);
    padding: .5rem;
    font-family: "Open Sans";
}

.btn {
    font-size: 1rem;
    font-family: "Open Sans";
    padding: .25rem .5rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.btn-add {
    background-color: var(--color-main);
    color: white;
}

.names {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-pick {
    background-color: var(--color-positive);
    color: white;
}

.btn-delete-all {
    background-color: var(--color-negative);
    color: white;
}

.btn-delete {
    all: unset;
    color: white;
    background-color: var(--color-negative);
    font-size: .75rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid var(--color-negative);
    cursor: pointer;
    margin-left: .5rem;
    visibility: hidden;
    transform: rotate(45deg);
    text-align: center;
}

ul {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
    height: 10rem;
    overflow: auto;
    background-color: var(--color-darker);
    padding: .5rem;
}

li {
    background-color: var(--color-accent);
    padding: .25rem .5rem;
    border-radius: 1rem;
    color: white;
}

li:hover .btn-delete {
    visibility: visible;
}

.result {
    background: var(--color-positive);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.result p::after {
    content: " 🎉";
}

@media screen and (max-width: 38.4rem) {
    html {
        font-size: 14px;
    }

    body {
        padding: .5rem;
    }

    .app {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
}